{% extends "sortingApp/home.html" %}

{% block content %}
    <h2>Time and Space Complexity Analysis</h2>
    <ul>
        <li>
            <h4>Time Complexity: O(n*n)</h4>
                <ul>
                    <li><p>The two loops are nested so our total time complexity is O(n * n / 2) = O(n2).</p></li>
                </ul>
        </li>
        <li>
            <h4>Space Complexity: O(1)</h4>
            <ul>
                <li><p>The amount of memory consumed by the algorithm does not increase relative to the size of the input array.</p></li>
            </ul>
        </li>
        <li>
            <h4>When should we use Bubble Sort?</h4>
            <ul>
                <li><p>There only one case where insertion sort is better than bubble sort. Is when the cost swapping elements are not expensive.</p></li>
            </ul>
        </li>
    </ul>
{% endblock content %}